* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;

  --bg-color: #000000;

  --primary-color: rgba(4, 52, 68, 1);
  --secondary-color: rgba(6, 22, 27, 0.5);
  --tertiary-color:  rgba(6, 24, 28, 1);
  --text-color: #E1E1E6;
  --ph-color: #7C7C8A;
  --dark-blue: hsl(195, 91%, 25%);
  --light-blue: hsl(191, 31%, 42%);

  --delete-color: #F75A68;
  --delete-hover-color: #fc3b4b;
  --btn-color:  #FFFFFF;
  --bg-btn-hover-color: #FFFFFF;
  --btn-hover-color: #065E7C;
  --bg-btn-color: #065E7C;
  --bg-nofavs: var(--tertiary-color);
  --no-favs-color: #4e5455;

}

body {
  background-color: var(--bg-color);
}

body * {
  font-family: var(--ff-primary);
  color: #FFFFFF;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

#app {
  margin: 10rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8.7rem;
}

.search {
  display: flex;
  align-items: center;
  gap: .8rem;
}

#input-search {
  background: #06181C;
  padding: 1.6rem;
  border: none;
  width: 46.2rem;
  border-radius: .5rem;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: #7C7C8A;
}

.btn-search {
  font-weight: bold;
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  gap: .8rem;
  text-transform: uppercase;
  padding: 1.2rem 3.2rem;
  border-radius: .5rem;
  border: none;

  background-color: var(--bg-btn-color);
  color: var(--btn-color);
  cursor: pointer;
}

.search button:hover svg path {
  fill: var(--dark-blue);
  transition: all .4s ease;
}

.search button:hover {
  background-color: #FFFFFF;
  color: var(--dark-blue);

  transition: all .4s ease;
}

.user img {
  border-radius: 50%;
  height: 5.6rem;
  width: 5.6rem;
}

.table {
  border: 1px solid var(--light-blue);
  border-radius: 1.2rem;
  overflow: hidden;

  max-height: 68.8rem;
  overflow-y: overlay;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table * {
  font-size: 2rem;
  color: var(--text-color);
}

table th {
  background: var(--primary-color);
  text-align: left;
  font-weight: 700;

  padding: 1.6rem 2.4rem 1.6rem 4rem;
}

table td {
  padding: 2.4rem 4rem;
  text-align: left;
}

table tr:nth-child(odd) {
  background: var(--secondary-color);
}

table tr:nth-child(even) {
  background: var(--tertiary-color);
  border-top: 1px solid var(--light-blue);
  border-bottom: 1px solid var(--light-blue);
}

td.user {
  display: flex;
  gap: 1.6rem;
}

td.user a {
  display: flex;
  flex-direction: column;
  gap: .8rem;

  text-decoration: none;
  cursor: pointer;
}

td.user a p {
  font-weight: 700;
}

td button {
  color: var(--delete-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

td button:hover {
 color: var(--delete-hover-color);
}

.empty-state {
  display: flex;
  background-color: var(--bg-nofavs);
}

.no-favs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  margin: 20rem auto 20.7rem;
}

.no-favs img {
  width: 13.2rem;
  height: 12.5rem;
}

.no-favs h2 {
  font-size: 4rem;
  color: var(--no-favs-color);
}

.hide {
  display: none;
}