* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;

  --bg-color: #000000;

  --primary-color: #043444;
  --secondary-color: rgba(6, 22, 27, 0.5);
  --tertiary-color:  #06181C;
  --text-color: #E1E1E6;
  --ph-color: #7C7C8A;

  --delete-color: #F75A68;
  --btn-color:  #FFFFFF;
  --bg-btn-hover-color: #FFFFFF;
  --btn-hover-color: #065E7C;
  --bg-btn-color: #065E7C;

}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
}

body * {
  font-family: var(--ff-primary);
  color: #FFFFFF;
}

button {
  background-color: var(--bg-btn-color);
  color: var(--btn-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

#app {
  margin: 16rem;

}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8.7rem;
}

.search {
  display: flex;
  align-items: center;
  gap: .8rem;
}

#input-search {
  background: #06181C;
  padding: 1.6rem;
  border: none;
}

.btn-search {
  display: flex;
  align-items: center;
  padding: 1.2rem 3.2rem;
  border-radius: .5rem;
}

.user img {
  border-radius: 100%;
  height: 5.6rem;
  width: 5.6rem;
}